<div class="row">
    <div class="col-2">
      <h5>COMPANY</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terms</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Interest Based Ads</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ad Preformance</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Help</a></li>
      </ul>
    </div>
  
    <div class="col-2">
      <h5>WORK WITH US</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Authors</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Advertise</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Authors & ads blog</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">API</a></li>
      </ul>
    </div>
    <div class="col-2">
      <h5>CONNECT</h5>
      <ul class="nav flex-column">
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </ul>
      
      
    </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <span class="text-muted">© 2021 Goodreads, Inc</span>
      </ul>