
<div class="card p-3 my-4" style="max-width: 540px;">
    <div class="row g-0">
        <div>
            <h5 class="card-title-user">{{user}}</h5>
            <h6 class="card-subtitle mb-2 text-muted"> wants to read...</h6>
        </div>

        <div class="col-md-4">
            <img src={{image}} class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">By
                    <a href="#" class="card-link">{{author}}</a>
                </h6>
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm" type="button">
                        Want to Read
                    </button>
                    <button type="button" id="WantToReadDropDown"
                        class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="WantToReadDropDown">
                        <li><a class="dropdown-item active" href="#">Want to Read</a></li>
                        <li><a class="dropdown-item" href="#">Currently Reading</a></li>
                        <li><a class="dropdown-item" href="#">Read</a></li>
                        <li><a class="dropdown-item" href="#">Favorites</a></li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Add New Shelf</a></li>
                    </ul>
                </div>
                <p class="card-text">{{description}}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <a href="#" class="link-primary">Like </a>
            <span data-reactid=".kjkn2vj5mq.2.0.$=1$Update_9242811041.0.2.0.0.$1"><span
                    data-reactid=".kjkn2vj5mq.2.0.$=1$Update_9242811041.0.2.0.0.$1.0"> · </span></span>
            <a href="#" class="link-primary">Comment </a>
            <span data-reactid=".kjkn2vj5mq.2.0.$=1$Update_9242811041.0.2.0.0.$1"><span
                    data-reactid=".kjkn2vj5mq.2.0.$=1$Update_9242811041.0.2.0.0.$1.0"> · </span></span>
            <a href="#" class="link-primary">Preview Book</a>
            <form class="gr-mediaBox__desc" method="post" action="/comment"
            data-reactid=".kjkn2vj5mq.2.0.$=1$Update_9242811041.0.2.3.1"><input type="hidden" name="id"
                value="4779045265" data-reactid=".kjkn2vj5mq.2.0.$=1$Update_9242811041.0.2.3.1.0"><input type="hidden"
                name="type" value="ReadStatus" data-reactid=".kjkn2vj5mq.2.0.$=1$Update_9242811041.0.2.3.1.1"><textarea
                class="gr-textarea gr-commentForm__textarea" name="comment[body_usertext]" rows="1"
                placeholder="Write a comment…" aria-label="Write a comment…"
                data-reactid=".kjkn2vj5mq.2.0.$=1$Update_9242811041.0.2.3.1.2"></textarea></form>
        </div>
        
    </div>
</div>