<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="./assets/so_long_see_you_tomorrow.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">So Long, See You Tomorrow</h5>
                <h6 class="card-subtitle mb-2 text-muted">By
                    <a href="#" class="card-link">William Maxwell</a>
                </h6>
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm" type="button">
                        Want to Read
                    </button>
                    <button type="button" id="WantToReadDropDown"
                        class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="WantToReadDropDown">
                        <li><a class="dropdown-item active" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
                <p class="card-text">On an Illinois farm in the 1920s, a man is murdered, and in the same moment the
                    tenuous friendship between two lonely boys comes to an end. In telling their interconnected stories,
                    American Book Award winner William Maxwell delivers a masterfully restrained and magically evocative
                    meditation on the past.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>